
body {
    font-family: 'Raleway', sans-serif;
    margin: 0%  5%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}


a {
    color: black;
    text-decoration:none;
}

p {
    font-size: 12px;
}
/* Header */

#logo_desktop{
    width: 30%;
}

#logo_mobile{
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    
}

nav li{
    padding: 40px;
}

nav li:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
   
}
    /* filtres */
 
.section_filtres {
    width: 100%;
    margin:2%;
}

#h2_filtre {
    padding-right: 2%;
}

#filtre_form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#recherche_ville{
    height: 37px;
    border: 1px solid #F2F2F2;
  
}
#icone_ville {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #F2F2F2 ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#icone_ville::before {
    position: relative;
    top: 10px;
    left: 15px;
}

#bouton_rechercher{
    height: 40px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
}

#bouton_loupe{
    visibility: hidden;    
}

/* filtres */

.filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    margin: 20px 0 20px 0;
}
.flex_filtres {
    display: flex;
    flex-direction: row;
}

.f_ {
    position: relative;
    height: 48px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 20px;
    margin: 20px 20px;
}



 .f_ i {
     position: absolute;
     background-color: #DEEBFF;
     color: #0065FC;
     border-radius: 100%;
     height: 50px;
     width: 50px;
     right: 105px;
 }

 .f_ i::before{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size:20px;
}


/*positionnement des icones */ 

.fa-money-bill-wave {
    position: absolute;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.fa-child-reaching {
    position: absolute;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    left: -5px;
}

.fa-dog{
    position: absolute;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    left: -5px;
} 

.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}
.information i{
    background-color: white;
    border: 1px solid #DEEBFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: #0065FC;
    margin-right: 1%;

}


/* Hébergements à Marseille */


.section_hebergements{
    display: flex;
    flex-direction: row;
    flex: 2 1 auto;
    justify-content: space-evenly;
    margin:2%;

}



#hebergements_Marseille{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    padding: 25px 15px;
    margin-right: 2%;
    width: 70%;
}

#titre_marseille{
   
    padding-top: 5px;
}

#Marseille{
    
    display: flex;
    flex-wrap: wrap;
    width: auto;

}

#les_plus_polulaires{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    padding-right: 5%;   
}

figure > a{
    display: flex;
    flex-direction: column;
}



.fig_img_h {
    height: 115px;
    width: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px solid white;
    object-fit: cover;
}


.figcaption_hergements {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
}

figcaption p {
    margin: 5px;
}

.fa-star::before{
    color: #0065FC;
}
.nocheck::before{
    color: #F2F2F2;
}

.h_fig{
    margin: 5px 5px 5px 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
}



.h_ {
    width: 33%;
    height: auto;
    border-radius: 50px;
}


.h_ i {
    background-color: white;
    
}

#button_afficher {
    border: none;
    background-color: #F2F2F2;
}
.etoiles{
    font-size: smaller;
    display: flex;
    padding-left: 5px;
}

/* effet zoom */

  .h_fig:hover{
    transform: scale(1.1); 
  }

  .p_fig:hover {
        transform: scale(1.1); 
  }

  .a_fig:hover {
    transform: scale(1.1); 
}
/* les plus populaires */

.les_plus_polulaires{
    background-color:#F2F2F2;
    padding: 25px 15px;
    
}

#titre_populaires{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.populaires{
    display: block;
    flex-direction: column;

}
.p_fig{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

.fig_img_p {
    height: 8rem;
    width: 9reù;
    border: 5px solid white;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;

}

.figcaption_populaire {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 66%; */
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-between;
    padding-bottom: 4%;
    flex: 1;
}

#para_populaire{
    padding-top: 5%;
}

/* activités à marseille */

.section_activites{
    margin-top: 5%;
   
  
}
.activites_Marseille {
    margin-right: 10%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 5%;
}

.width_activite{
    width: 100%;
}

#fort_et_iles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#notre_dame_et_longchamp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.a_fig{
    box-shadow: 0px 1px 12px 0px rgb(0 0 0 / 75%);
    border-radius: 20px;
    width: 90%;
    margin: 0 5% 0 5%;
}

.fig_img_a{

        height: 388px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
       }

.fig_img_a_flex{
    height: 170px;
    width: 100%;
    
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.petit {
    height: 130px;
    width: 100%;
}

.figcaption_activite{
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    margin-left: 10px;
}

/* footer */
.footer{
    display: flex;
    flex-direction: row;
}
.foot_ {
    background-color:#F2F2F2;
    padding-left: 20px;
   flex: 1;
    width : 100%;
    list-style: none;

}
.foot_ ul {
    list-style: none;
}


/* mobile */
@media screen and (max-width: 768px)
{
    #logo_desktop{
        display: none;
       
    }

    #logo_mobile{
        display:flex;
        align-items: center;
        justify-content: center;}
    nav {
        flex-direction: column;
        justify-content: center;
       
    }

    nav img {
        justify-content : center;
        align-items : center
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content : center;
        align-items : center;
        padding: 0;
    }

    nav li {
        width: 100%;
        border-bottom: 2px solid #F2F2F2;
        align-items: center;
    }

    #div_ul{
        display: block;
        flex: 1 AUTO;
        width: 100%;
    }

    nav li:hover{
        border-bottom: 2px solid #0065FC;  
        color: #0065FC;
        border-top: hidden;
      }

      nav a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      nav a:hover{
        color: #0065FC;
      }
      
/* recherche ville */ 

      .filtres{
        display: flex;
        flex-direction: column;
        justify-content: left;
      }

      .flex_filtres{
          display: flex;
          flex-wrap: wrap;
          
      }

      #bouton_rechercher{
       display: none;
       
    }

    
      #bouton_loupe{
        visibility: visible;
        height: 40px;
        width: 40px;
        background-color: #0065FC;
        color: white;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    /*filtres*/
    .h2_filtre {
        align-self: flex-start;
        padding-left: 20px;
    }


    .width_activite{
        width: 100%;
        align-items: center;
    }
    
      .section_hebergements {
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-between;
       
      }
      /* les plus polpulaires */

      .p_fig{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin: 2% 0;
    }

    .fig_img_h {
        height: 278px;
        width: 98%;
        border: 5px solid white;  
        border-top-left-radius: 20px;
        object-fit: cover;
    
    }


      /*  hebergement à Marseille */
      .h_fig{
        border-radius: 20px;
        box-shadow: 0px 1px 12px 0px rgb(0 0 0 / 75%);
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5%;
      }


     
      #hebergements_Marseille{
        
        margin-bottom: 5%;
        padding: 0;
        background-color: white;
      }
      #Marseille{
    
        display: flex;
        flex-direction: column;
    
    }

    #button_afficher {
        background-color: white;
        margin-top: 10px;
    }
    

    /* activités à Marseille */
        .section_activites{
            display: flex;
            flex-direction: column;
        }
        .activites_Marseille{
            display: flex;
            flex-direction: column;
        }

    /* taille image activite */
        .fig_img_a{
            height: 130px;
            width: 100%;
        }
        .fig_img_a_flex{
            height: 130px;
            width: 100%;
        }

        
        .a_fig{
            margin-bottom: 5%;
        }

        .a_fig img {
            height: 260px;
        }

      /* footer */

      .footer{
        display: flex;
        flex-direction: column;
    }
    .foot_ {
        background-color:#F2F2F2;
        float: left;
        width : 100%;
        padding: 0;
    
    }

    .foot_ ul {
        list-style: none;
    }
}
